// Fontes
$font-principal: 'Roboto', sans-serif;

// Cores
$cor-primaria: #273c75;
$cor-secundaria: #44bd32;
$cor-fundo: #f5f6fa;

// Breakpoints
$breakpoint-mobile: 767px;
$breakpoint-tablet: 1023px;